body {
    background-image: url(../images/Stage.jpg);
    background-size: 100%;  
}

h4 {
	color: black;
    font-family: 'Monoton', cursive;
	font-size: 60px;
}

label {
    color: white;
    font-family: 'Notable', sans-serif;
}

.button-list {
    margin: 20px 10px;
    font-family: 'Gudea', sans-serif;
}

.button-submit {
    margin-top: 10px;
    font-family: 'Gudea', sans-serif;
}


